<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-narrow-sm">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Birthday</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <th scope="row">
            <a [routerLink]="['/customers', customer.customerID]">
              {{ customer.name.first }} {{ customer.name.last }}
            </a>
          </th>
          <td> <p>Last contact: </p> {{ customer.lastContact | date:'MMM, dd' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <span class="after" (click)="addCustomer()"></span>
</div>
