.table-narrow-sm tbody p {
  display: none;
  margin-bottom: 0;
}

.card {
  background-color: #FCFEFC;
  border-color: #87BBA2;
  color: #2d3c2d;
}

.card .after::after {
  content: "\002B";
  margin-left: 1.25rem;
  position: relative;
  display: none;
}

.card:hover .after::after {
  display: flex;
}

.card th {
  border-color: #87BBA2;
}

.card a {
  color: #2d3c2d;
  cursor: pointer;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .table-narrow-sm thead {
    display: none;
  }

  .table-narrow-sm td, .table-narrow-sm th {
    display: block;
  }

  .table-narrow-sm td {
    border: 0;
  }

  .table-narrow-sm td {
    padding-top: 0;
    padding-bottom: 0;
  }

  .table-narrow-sm tr td:last-child {
    margin-bottom: 10px;
  }

  .table-narrow-sm tbody p {
    display: inline-block;
    width: 100px;
  }
}
